{% extends "layout.html" %} {% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>
<br />
<table style="width: 100%">
  <tr>
    <td style="width: 25%">
      <address>
        Sidharrth Mahadevan <br />
        Flat4, 5 Argyll Road<br />
        BH5 1EB<br />
        Bournemouth<br />
        <strong>Phone :</strong> +44 7375392384<br />
        <strong>Mail :</strong>
        <a href="mailto:s5228449@bournemouth.ac.uk"
          >s5228449@bournemouth.ac.uk</a
        ><br />
      </address>
    </td>
  </tr>
</table>

{% endblock %}
